.search-header.row {
  display: flex;
}

.search-header {
  padding: 0 0.7rem;
}

a.logo-brand {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--space);
  font-weight: bold;
}

@media (min-width: 992px) {
  .search-header.row {
    display: none;
  }
}
