.wrapper-search-result {
  cursor: pointer;
  background-color: var(--grey);
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  height: 7rem;
  padding: .4rem;
  padding-left: 0;
  gap: .5rem;
  border-radius: 1rem;
  transition: .5s;
}

.wrapper-search-result:hover .thumb-img{
  transform: scale(1.2);
  transition: .5s;
}

@media (min-width: 768px) {
  .wrapper-search-result {
    height: 12rem;
  }
}

@media (min-width: 992px) {
  .wrapper-search-result {
    height: 14rem;
  }
}


