
.video-wrapper{
  margin: 0;
  position: sticky;
  top: 0;
}

.title {
  font-size: 2rem;
  text-align: center;
}



.episode-list{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}  

.wrapper-video-streaming .title-sinopsis {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .episode-list {
    height: 30rem;
    overflow: hidden;
    overflow-y: auto;
  }

  .wrapper-streaming-video {
    height: 26.2rem;
    overflow: hidden;
  }
}
