
.wrapper-video-streaming{
  box-sizing: border-box;
  width: 100%;
}

.wrapper-video-streaming .title {
  font-size: 2rem;
  text-align: center;
}

.episode-list{
  white-space: nowrap;
  width: 100%;
  height: 4.3rem;
  padding: .5rem;
  overflow: hidden;
  overflow-x: auto;
}  

.wrapper-video-streaming .title-sinopsis {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .episode-list {
    height: 30rem;
    overflow: hidden;
    overflow-y: auto;
  }
}
