.container {
  padding: 0;
}

.eps-section{
  padding: 0 1rem;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.episode-list{
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  overflow-x: auto;
  margin: 0 auto;
}  

.wrapper-video-streaming .title-sinopsis {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .episode-list {
    height: 30rem;
    overflow: hidden;
    overflow-y: auto;
  }

  .wrapper-streaming-video {
    height: 26.2rem;
    overflow: hidden;
  }

  .episode-list{
    width: 90%;
    margin: 0 auto;
  } 
}
