.wrapper-item a {
  text-decoration: none;
}

.title-item {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--orange);
}

.description-item {
  font-size: 0.7rem;
  color: var(--black);
}

/* Background List */
.bg-orange {
  background-color: var(--orange);
}

.bg-black {
  background-color: var(--black);
}

.bg-space {
  background-color: var(--space);
}

.bg-grey {
  background-color: var(--grey);
}

.text-bg-orange {
  background-color: var(--orange);
  color: var(--space);
}

@media (min-width: 992px) {
  .title-item {
    font-size: 1.4rem;
  }

  .description-item {
    font-size: 0.9rem;
  }
}
