.wrapper-item a {
  text-decoration: none;
}

.title-item {
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: bold;
  color: var(--orange);
  height: 2.5rem;
  -webkit-line-clamp: 2;
}

.description-item {
  font-size: 0.6rem;
  color: var(--black);
  height: 1.8rem;
  -webkit-line-clamp: 2;
}

/* Background List */
.bg-orange {
  background-color: var(--orange);
}

.bg-black {
  background-color: var(--black);
}

.bg-space {
  background-color: var(--space);
}

.bg-grey {
  background-color: var(--grey);
}

.text-bg-orange {
  background-color: var(--orange);
  color: var(--space);
}

@media (min-width: 576px) {
  .wrapper-item .title-item {
    font-size: 1.1rem;
    height: 2.6rem;
  }
  .wrapper-item .description-item {
    font-size: .66rem;
    height: 1.9rem;
  }

}

@media (min-width: 768px) {
  .wrapper-item .title-item {
    font-size: 1.1rem;
    height: 2.65rem;
  }
  .wrapper-item .description-item {
    font-size: .66rem;
    height: 1.9rem;
  }
}

@media (min-width: 992px) {
  .wrapper-item .title-item {
    font-size: 1.4rem;
    height: 3.4rem;
  }

  .wrapper-item .description-item {
    font-size: .8rem;
    height: 2.25rem;
  }
}
