nav.navbar {
  display: none;
}

.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.bg-orange {
  background-color: var(--orange);
}

@media (min-width: 992px) {
  nav.navbar {
    display: flex;
    transition: 0.3s ease-in-out;
  }
}
