.wrapper-about{
  max-width: 800px;
  margin: 0 auto;
}

.wrapper-about .title {
  margin-top: 2rem;
  font-size: 3rem;
}

.wrapper-about .text-underline {
  display: block;
  width: 30%;
  height: .5rem;
  margin: 1rem auto;
  border-radius: .5rem;
  background-color: red;
}

.wrapper-about .about-text {
  font-size: 1.2rem;
}

.wrapper-about .copyright{
  font-size: 1.1rem;
}