.streaming-container {
  padding: 0 !important;
}

.video-wrapper{
  position: sticky;
  top: 0;
}

.eps-section {
  padding: 0 .5rem;
}

.title-episode-list {
  display: none;
}

.episode-list {
  padding-top: .5rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  margin: 0 auto;
}

.button-group {
  margin-top: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.btn-home {
  margin-bottom: .5rem;
}

.btn-home, .btn-search {
  display: block;
  width: 100%;
  background-color: var(--orange);
  color: var(--space);
  font-size: 1.1rem;
  padding: .5rem;
  opacity: .9;
}

.btn-home:hover, .btn-search:hover {
  box-shadow: 0px 0px 10px -5px rgb(255, 140, 50)  ;
  color: var(--space);
}

@media (min-width: 992px) {
  .episode-list {
    max-height: 33vw;
    overflow: hidden;
    overflow-y: auto;
  }

  .title-episode-list {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    background-color: var(--black);
    color: var(--space);
    padding: .5rem 0;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .button-group {
    max-width: 75%;
  }
}