.section-title {
  margin: 1rem 0;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--black);
}

.list-wrapper {
  margin: 1rem 0;
}

.list-wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-wrapper header a.link-more {
  font-size: 1rem;
  color: var(--black);
  text-decoration: none;
}

.content-item{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 400px;
  /* overflow: hidden; */
}

/* .thumb-img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
} */

.wrapper-anime-list{
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .wrapper-item .title-item {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .wrapper-item .description-item {
    font-size: 0.85rem;
  }

  .list-wrapper main .content-item .poster-content-item {
    min-height: 230px;
    max-height: 230px;
  }

  .list-wrapper main .content-item p {
    font-size: 1rem;
  }
}
