.wrapper-about{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 4rem;
}

.wrapper-about .title {
  margin-top: 2rem;
  font-size: 3rem;
  color:var(--black);
}

.wrapper-about .text-underline {
  display: block;
  width: 30%;
  height: .5rem;
  margin: 1rem auto;
  border-radius: .5rem;
  background-color: var(--orange);
}

.wrapper-about .about-text {
  font-size: 1rem;
  color: var(--black);
}

.wrapper-about .copyright{
  font-size: .9rem;
  color: var(--black );
}