.slide-item {
  height: 35vh;
  align-items: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  filter: opacity(1);
}

.slide-item::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.slide-item .poster img {
  border-radius: 0.5rem;
}

.slide-item .details .title-detail {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--space);
  -webkit-line-clamp: 2;
  height: 3rem;
}

.slide-item .details .description-detail {
  font-size: 0.7rem;
  font-weight: normal;
  color: var(--space);
  height: 5.4rem;
  -webkit-line-clamp: 5;
}

.slide-item .details .text {
  overflow: hidden;
  text-align: justify;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.description-detail ~ .btn-watch {
  background-color: var(--orange);
  color: var(--space);
}

@media (min-width: 768px) {
  .slide-item .poster {
    width: 15%;
    margin-right: 1rem;
  }

  .slide-item .details .title-detail {
    font-size: 1.5rem;
    height: 3.7rem;
  }

  .slide-item .details .description-detail {
    font-size: 0.8rem;
    height: 5rem;
    -webkit-line-clamp: 4;
  }
}

@media (min-width: 992px) {
  .slide-item {
    height: 65vh;
  }

  .slide-item .details .title-detail {
    font-size: 1.8rem;
    height: 4.6rem;
  }

  .slide-item .details .description-detail {
    font-size: 1rem;
    height: 6rem;
    -webkit-line-clamp: 4;
  }
}
