.episode-item {
  display: inline-block;
  margin-right: 1rem;
  width: 3rem;
  border: 1px solid rgb(192, 192, 192);
  height: 3.2rem;
  border-radius: .2rem;
}

.episode-item .number{
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.episode-item .number,
.episode-item .label, 
.episode-item .label-number  {
  font-size: 1.2rem;
  margin: 0;
}

.episode-item .group-label{
  display: none;
}

@media (min-width: 992px) {
  .episode-item, .episode-item .group-label{
    display: flex;
    width: 100%;
    align-items: center;
  }

  .episode-item {
    margin-bottom: 1rem;
    border: none;
  }
  
  .episode-item .group-label {
    height: 100%;
    justify-content: center;
    gap: 1rem;
    border: 1px solid red;
  }
  .episode-item .number{
    border: 1px solid black;
  }

  .episode-item .group-label, .episode-item .number {
    padding: 1.5rem;
  }
}